---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">

        </div>
      </Link>
       <nav class="flex gap-8">
        <Link href="#koledar">
          Koledar
        </Link>

        <Link href="#ljudje">
          Ljudje
        </Link>

      </nav>
    </div>
  </Container>
</header>
